<html>
	
<body>
<h2>welcome!</h2>
  
<p>
This index page has been automagically generated for <%= name %>.<br/>
Please feel free to delete it or replace it with something else.<br/>
Have a nice day,<br/>
Marvin</p>
</body>

</html>
